body {
  margin: 0;
  padding: 0;
  background: #f3e0f07a;
}

.main-container {
  height: 100%;
  width: 95%;
  margin: 30px auto;

  h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: #d51062bf;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: normal;
  }

  .text-input {
    width: 90%;
    height: 250px;
    display: flex;
    margin: 0 auto 30px;
  }

  .description {
    font-size: 18px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__keys {
    text-align: center;
    width: 90%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6px;
    margin-bottom: 15px;
  }
}

.key {
  height: 45px;
  width: 6%;
  border-radius: 4px;
  border: none;
  background: rgb(189 35 35 / 20%);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  &.wide {
    width: 13%;
  }
  &.extra-wide {
    width: 46%;
  }
  &.pressed,
  &.key:active {
    background: rgb(189 35 35 / 56%);
  }
}
